img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 10px;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

img:hover {
  /*border-radius: 0;*/
  transform:rotate(360deg);
}

a {
  text-decoration: none;
}

.container {
  padding: 1%;
}

body {
  background: url('http://images4.fanpop.com/image/photos/23200000/Nyan-cat-Wallpaper-nyan-cat-23287290-1191-670.jpg') no-repeat center center fixed;
  background-size: cover;
}

h1 {
  color: white;
  font-weight: 100;
  text-align: center;
}

.button {
  margin: 0 auto;
  font-size: 2.0rem;
  padding: 1.25rem 2.5rem;
  display: block;
  background-color: #009ac9;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: #ffffff;
  color: #009ac9;
  border-color: #009ac9;
}

.input{
  text-align: center;
  margin: 0 auto;
  font-size: 2.0rem;
  padding: 1.25rem 2.5rem;
  display: block;
  background-color: #009ac9;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.input.focus {
  background-color: #ffffff;
  color: #009ac9;
  border-color: #009ac9;
}

h2 {
  color: red;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}



