.body {
  background-color: #E1E1E1;
}

#welcome, #about {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 300%;
  padding-top: 50px;
  color: white;
}

#theater {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 300%;
  padding-top: 50px;
}

#sub_welcome {
  text-align: center;
  color: white;
}

#sub_about {
  text-align: left;
  margin-left: 380px;
  width: 400px;
  display: inline-block;
  color: white;
}

#oscar {
  width: 300px;
  height: 300px;
  position: relative;
  margin-top: -170px;
}

#home_popular_movies_div {
  padding-top: 80px;
  text-align: center;
}

#home_popular_movies_div h3 {
  color: white;
}

#popular_movies_div {
  padding-top: 30px;
  text-align: center;
}

.popular_movies {
  display: inline-block;
}

.popular_movies h4 {
  text-align: left;
  padding-left: 30px;
  color: white;
}

.popular_movies h5 {
  text-align: left;
  padding-left: 30px;
  margin-top: -10px;
  color: white;
}

img {
  height: 375px;
  width: 290px;
  border-radius: 35px;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  padding-left: 20px;
  padding-right: 20px;
}

#footer {
  /*Could change to  windows height using js*/
  padding-top: 250px;
  text-align: center;
}

.white_footer {
  color: white;
}

#movie_check {
  text-align: center;
  padding-top: 200px;
}

#movie_0, #movie_1, #movie_2, #movie_3, #movie_4, #movie_5, #movie_6, #movie_7, #movie_8 {
  display: inline-block;
}

.movie_info li {
  width: 400px;
  list-style: none;
  font-size: 1.3em;
  text-align: left;
  padding-left: 55px;
}

.movie_info {
  text-align: center;
}

.movie_info ul {
  padding-top: 10px;
}

.movie_info a {
  font-weight: bold;`
}

video#bgvid {
  position: fixed;
  /*right: 0;*/
  /*margin: 0 auto;*/
  bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(../images/ironman.jpg) no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
}
/*
.button {
  margin: 0 auto;
  font-size: 2.0rem;
  padding: 1.25rem 2.5rem;
  display: block;
  background-color: red;
  border: 1px solid transparent;
  border-radius: 35px;
  color: #ffffff;
  font-weight: 300;
  font-size: 4em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: #ffffff;
  color: blue;
  border-color: blue;
  border-radius: 35px;
}

.input{
  width: 40%;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 2.0rem;
  padding: 1.25rem 2.5rem;
  display: block;
  background-color: blue;
  border: 1px solid transparent;
  border-radius: 35px;
  color: #ffffff;
  font-weight: 300;
  font-size: 4em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.input.focus {
  background-color: #ffffff;
  color: blue;
  border-color: blue;
  border-radius: 35px;
}

li {
  color: blue;
  text-align: center;
  list-style-type: none;
  font-size: 2em;
}