/*.container {
  background-color: yellow;
  /*background-size: cover;*/
/*}*/

.body {
    background-color: #E1E1E1;
}

img {
  height: 400px;
  width: 300px;
  border-radius: 35px;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  margin: 0 auto;
  display: block;
}

a {
  text-decoration: none;
  color: yellow;
  font-weight: bold;
}

h1 {
  /*color: white;*/
  text-align: center;
  /*background:rgba(255,255,255,0.5);*/
  /*width: 80%;*/
  margin-left: auto;
  margin-right: auto;
  /*font-size: 5em;*/
}

.button {
  margin: 0 auto;
  font-size: 2.0rem;
  padding: 1.25rem 2.5rem;
  display: block;
  background-color: red;
  border: 1px solid transparent;
  border-radius: 35px;
  color: #ffffff;
  font-weight: 300;
  font-size: 4em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: #ffffff;
  color: blue;
  border-color: blue;
  border-radius: 35px;
}

.input{
  width: 40%;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 2.0rem;
  padding: 1.25rem 2.5rem;
  display: block;
  background-color: blue;
  border: 1px solid transparent;
  border-radius: 35px;
  color: #ffffff;
  font-weight: 300;
  font-size: 4em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.input.focus {
  background-color: #ffffff;
  color: blue;
  border-color: blue;
  border-radius: 35px;
}

li {
  color: blue;
  text-align: center;
  list-style-type: none;
  font-size: 2em;
}

.movie_info {
  /*background-color: transparent;*/
  background:rgba(255,255,255,0.5);
  margin: 0 auto;
}

#name {
  color: yellow;
  background:rgba(255,255,255,0.5);
}