<div class="container">
  <h1>Welcome to OMDb Movie Lookup</h1>


  <form action="/movie" method="get">
    <input type="text" name="movie" placeholder="Enter a movie name" class="input">
    <button type="submit" value="submit" class="button">Submit</button>
  </form>

</div>

