<div class="container">
  <h1>GitHub Organization Member Lookup</h1>
  <form action="/org">
    <input type="text" name="org" placeholder="Enter an organization name" class="input">
    <input class="button" type="submit">
  </form>
</div>

