<div class="container">
  <h1>OMDb Movie Poster Lookup</h1>
  <form action="/org">
    <input type="text" name="org" placeholder="Enter an movie name" class="input">
    <input class="button" type="submit">
  </form>
</div>

